.list {
    min-width: 220px;
    min-height: 160px;
}

.list-header {
    overflow: hidden;
    position: relative;
    height: 25px !important;
}

.list-header>div {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0%;
    padding-top: 0%;
}

.btn-link:focus,
.btn-link:active {
    box-shadow: none !important;
    outline: 0px !important;
}

.editList {
    overflow: hidden;
    position: relative;
}

.editList>button {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
}