<form [formGroup]="listEditForm" (ngSubmit)="editList()" novalidate>
    <div class="form-row">
        <div class="col-sm-1">
            <button title="Cancel update" (click)="toggelEditMode()" type="button" class="btn btn-sm text-secondary"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
        <div class="col-sm-2">
            <button title="Update list" type="submit" class="btn btn-sm text-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </div>
        <div class="col-sm-7">
            <input #inputListName type="text" formControlName="name" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <div *ngIf="editSubmitted && formControls.name.errors">
                <p class="text-danger text-small">(required)</p>
            </div>
            <div *ngIf="editListError$ | async as addError">
                <p class="text-danger text-small">{{addError.error}}</p>
            </div>
        </div>
    </div>
</form>