<form [formGroup]="listForm" (ngSubmit)="addList()">
    <div class="form-row">
        <div class="form-group col">
            <input (focus)="resetError()" type="text" formControlName="name" class="form-control" />
        </div>
        <div class="form-group col">
            <button type="submit" class="btn btn-sm btn-link text-primary">+ List</button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <div *ngIf="submitted && formControls.name.errors">
                <p class="text-danger text-small">Name is required</p>
            </div>
            <div *ngIf="addListError$ | async as addError">
                <p class="text-danger text-small">{{addError.error}}</p>
            </div>
        </div>
    </div>
</form>